parameters:
  level: 1
  ignoreErrors:
    -
      message: "#^Function twig_include not found\\.$#"
      path: src/Eccube/Twig/Extension/IgnoreTwigSandboxErrorExtension.php

includes:
    - vendor/struggle-for-php/sfp-phpstan-psr-log/extension.neon
    - vendor/struggle-for-php/sfp-phpstan-psr-log/rules.neon
    - vendor/struggle-for-php/sfp-phpstan-dont-operation-inside-constructor/rules.neon
